.navbarRight {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbarRight ul {
  display: flex;
  gap: 32px;
  list-style: none;
  color: white;
}

.navbarRight ul li a {
  text-decoration: none;
  font: 400 16px/150% "Lato", sans-serif;
}
